* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container-home {
    position: absolute;
    overflow: hidden;
    padding: 0 15%;
}

.main-header {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 105px;
}

.header-container {
    // padding-top: 5%;
    // padding-bottom: 25%;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.about-section, .skills-section, .facts-section, .project-section {
    padding-bottom: 15px;
    text-align: center;
}

.skill-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    list-style: none;
    border: white 2px solid;
    border-radius: 75px;
    background-color: tan;
    padding: 50px;
}

.facts-container, .info-container {
    padding: 50px;
    border: white 2px solid;
    background-color: lightgray;
    border-radius: 75px;
}

.about-me, .facts-heading, .project-heading, .skills-heading {
    font-family: 'Luckiest Guy', cursive;
    font-weight: lighter;
    text-align: center;
    font-size: 56px;
}

.info-text {
    font-size: 28px;
    padding: 5px;
}

.skills-text {
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    padding: 20px;
}

.skills-text:hover {
    color: white;
}

.intro-text {
    font-family: 'Luckiest Guy', cursive;
    font-weight: lighter;
    font-size: 45px;
}

.resume-link {
    font-size: 35px;
    font-family: 'Luckiest Guy', cursive;
    color: black;

    &:hover {
        color: white;
    }
}

.image-container {
    // padding-bottom: 15px;
    text-align: center;
    width: 100%;
}

.vacation-img {
    border-radius: 25px;
}

// p {
//     text-align: center;
//     animation-name: slidein;
//     animation-duration: 3s;
// }

// @keyframes slidein {
//     from {
//         margin-left: 100%;
//         width: 100%;
//     }

//     to {
//         margin-left: 0%;
//         width: 100%;
//     }
// }

ul {
    li {
        list-style: none;
        
            a {
                color: black;
            }
        }
    }

@media screen and (max-width: 576px) {
    body {
        margin: 0;
    }

    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .main-header {
        font-size: 40px;
        align-items: center;
    }

    .header-container {
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .container-home {
        width: 95%;
        padding: 0 2%;
    }

    .about-section, .skills-section, .facts-section, .project-section {
        padding-bottom: 15px;
    }

    .about-me, .facts-heading, .project-heading, .skills-heading {
        font-size: 45px;
    }

    .info-text {
        font-size: 20px;
    }

    .skill-list {
        margin: auto;
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto;
    }

    .skills-text {
        font-size: 20px;
    }

    .vacation-img {
        width: 80%;
        margin: auto;
        border-radius: 25%;
    }
    
    .image-container {
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        justify-content: center;
    }
}

// Tablet
@media screen and (max-width: 835px) {
    .container-home {
        padding: 0 35%;
        width: 85%;
    }
}

// Laptop
@media screen and (max-width: 1280px) {
    .container-home {
        padding: 0 5%;
        width: 90%;
    }
}
