* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(245, 245, 245, 0.479);
}

.navbar {
    overflow: hidden;
    background: #B6B6B6;
    display: flex;
    align-items: center;

    // ul {
    //     list-style: none;
    //     display: grid;
    //     grid-template-columns: auto auto auto auto;
    //     gap: 8px;
    //     float: right;

    //     li {
    //         align-items: right;
            
    //         a {
    //             font-size: 15px;
    //             padding: 7px;
    //             margin: 7px;
    //             text-decoration: none;
        
    //             &:hover, &:hover svg {
    //                 color: white;
    //             }
    //         }
    //     }
    // }
}

.nav-title {
    font-size: 35px;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    padding-left: 2%;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
    float: right;

    li {
        align-items: right;
        
        a {
            font-size: 15px;
            padding: 7px;
            margin: 7px;
            text-decoration: none;
    
            &:hover, &:hover svg {
                color: white;
            }
        }
    }
}

.nav-links {
    // padding-right: 1%;
    font-weight: bold;
}

// Extra Small Devices
@media screen and (max-width: 576px) {
    .navbar {
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    
    .nav-title {
        font-size: 20px;
    }

    ul {
        display: grid;
        grid-template-columns: auto auto;
    }

    .nav-links {
        text-align: right;
    }

    .links {
        font-size: 12px;
    }

    .nav-icons {
        display: none;
    }
}

// Tablet
@media screen and (min-width: 577px) and (max-width: 835px) {
    .nav-links {
        
    }

    .nav-title {
    }
}

@media screen and (max-width: 991.98px) {

}

// Laptop
@media screen and (max-width: 1199.98px) {
    .nav-links {
    }

    .nav-title {
    }
}

@media screen and (max-width: 1399.98px) {

}