* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(245, 245, 245, 0.479);
}

.navbar {
    overflow: hidden;
    background: tan;

    icon {
        float: right;
    }

    ul {
        padding-top: 0.5%;
        position: relative;
        margin: auto;
        text-align: right;
        list-style: none;
        display: grid;
        grid-template-columns: auto auto;
        gap: 16px;
        float: right;

        li {
            align-items: right;
            a {
                font-size: 20px;
                padding: 7px;
                margin: 7px;
                // margin-right: 0.5%;
        
                &:hover svg {
                    color: white;
                }
            }
        }
    }
}

.nav-title {
    font-size: 35px;
    float: left;
    font-family: 'Luckiest Guy', cursive;
    font-weight: lighter;
    padding-left: 1%;
}

.nav-links {
    
}

// Mobile Phone
@media screen and (max-width: 576px) {
    body {
        // margin: 0;
    }

    .navbar {
        overflow: hidden;
        background: tan;
        // display: grid;
        // grid-template-columns: auto;

        ul {
            margin: auto;
            text-align: left;
            list-style: none;
            // display: flex;
            gap: 10px;
            width: 50%;
        }
    }

    .nav-title {
        font-size: 25px;
        padding-top: 12%;
        margin: auto;
        padding-bottom: 2%;
    }

    .nav-links {
        font-size: 10px
    }

}

// Tablet
@media screen and (max-width: 835px) {
    .nav-links {
        padding-top: 4%;
    }
}

// Laptop
@media screen and (max-width: 1280px) {
    .nav-links {
        padding-top: 4%;
    }
}
