.nav-bar {
    overflow: hidden;
    // position: absolute;
    background: darkred;
    // height: 100px;
    width: 100%;
    // min-width: 500px;
    
    h1 {
        position: absolute;
        padding: 0 20px;
        font-family: 'Luckiest Guy', cursive;
        font-weight: lighter;
    }

    ul {
        height: 100%;
        text-align: right;
        list-style: none;
        position: relative;
        margin-right: 2%;
        margin: 3px;

        li {
            a {
                font-size: 20px;
                padding: 10px;
                margin-right: 0.5%;
        
                &:hover svg {
                    color: gray;
                }
            }
        }
    }
}

.nav-title {
    font-size: 35px;
    display: flex;
    flex-wrap: nowrap;
    margin: 30px 2px;
}

.nav-links {
    
}

body {
    background-color: rgba(245, 245, 245, 0.479);
}

@media screen and (max-width: 576px) {
    body {
        margin: 0;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
    }

    .nav-title {
        display: flex;
        font-size: 25px;
        margin: 20px 2px;
        width: 10%;
    }

    .nav-links {
        font-size: 10px;
    }

    ul {
        height: 100%;
        text-align: right;
        list-style: none;
        position: relative;
        margin-right: 3%;
    }

    a {
        font-size: 20px;
        padding: 10px;
    }

    a:hover svg {
        color: gray;
    }

}